<div class="valign-wrapper grey lighten-3" style="height: 100vh; justify-content: center;" *ngIf="isLoading">
  <img src="../../assets/loading.svg" alt="Loading ..."/>
</div>
<mat-sidenav-container class="sidenav-container" *ngIf="!isLoading">
  <mat-sidenav class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="background-color: #0079A8">
      <span style='height: 100%; width: 100%; flex: 1; display: flex; align-items: center; justify-content: center'>
        <img src="../../assets/logo_full_white.png"
          style='height: 80%; object-fit: contain' />
      </span>
    </mat-toolbar>
    <mat-nav-list style="background-color: #00A1E0; padding-top: 0px">
      <div style="background-color: #0087BD; height: 45px; font-size: 17px; display: flex; flex-direction: row;">
        <input placeholder="Rechercher un patient" [(ngModel)]="searchText" style="padding-left: 10px; color: #ffffff; border-bottom: none !important; box-shadow: none !important;" class=""/>
        <a mat-list-item (click)="invitePatient()" style="width: 50px; background-color: #FFA300; border-radius: 50% 0 0 50%; color: #ffffff;">
          <mat-icon aria-label="Side nav toggle icon" style="margin-right: 15px">person_add</mat-icon>
        </a>
      </div>
      <a *ngFor="let patient of searchPatient()" mat-list-item >
        <img [src]="patient.profile_picture" class="circle responsive-img" style="height: 65%; margin-right: 10px;"/>
        <h4 routerLink="/dashboard" [queryParams]="{ patient: patient.uid }" class="patient-name">
          {{patient.first_name}}
          {{patient.last_name}}
        </h4>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: #f0f0f0;">
    <mat-toolbar style="background: #ffffff; box-shadow: 0px 1px 5px #B3B3B3; flex-direction: row-reverse">
      <button mat-icon-button [matMenuTriggerFor]="patientOptionsMenu" style="width: 140px; flex-direction: row;" [disableRipple]="true">
        Dr. {{ this.me.last_name }}
        <mat-icon style="margin-bottom: 3px;">keyboard_arrow_down</mat-icon>
        <img src="../../assets/default_user_picture.svg" class="circle responsive-img" style="height: 40px; width: 40px;"/>
      </button>
      <mat-menu #patientOptionsMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="sendTestNotif()">test notif.</button>
        <button mat-menu-item (click)="goToOptions()">Options</button>
        <button mat-menu-item (click)="signOut()">Deconnexion</button>
      </mat-menu>
      <div class="simple-small-div-vert" style="height: 50%; margin-left: 2px;"></div>
      <button mat-icon-button [matMenuTriggerFor]="notificationsMenu" [disableRipple]="true">
        <mat-icon style="margin-bottom: 3px;">notifications</mat-icon>
      </button>
      <mat-menu #notificationsMenu="matMenu" xPosition="before">
        <button mat-menu-item
          *ngFor="let notification of notificationsList; let indexOfelement = index; let last = last"
          (click)="$event.stopPropagation()"
          (contextmenu)="markNotifAsRead(notification, indexOfelement)"
        >
          <div style="display: flex; flex-direction: column;">
            <span style="line-height: 23px;">{{notification.time}}</span>
            <span style="line-height: 23px;">{{notification.type}}</span>
            <div *ngIf="!last" class="simple-small-div"></div>
          </div>
        </button>
      </mat-menu>
    </mat-toolbar>
    <ng-chat *ngIf="readyToChat" [adapter]="adapter" [userId]="me.uid" [theme]="'dark-theme'" [title]="'ta mere'"></ng-chat>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
