<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Mes patients</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let patient of patients" mat-list-item >
        <h4 routerLink="/detail/{{patient.uid}}" class="patient-name">
          {{patient.first_name}}
          {{patient.last_name}}
        </h4>
        <button
          type="button"
          mat-icon-button
          (click)="delete(patient)"
        >
          <mat-icon>
            clear
          </mat-icon>
        </button>
      </a>
      <a mat-raised-button color="warn" class="disc-button" routerLink="/signinup">Me déconnecter</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        style="margin-right: 17px" >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style='height: 100%; width: 100%; flex: 1; display: flex; align-items: center'>
        <img src="../../assets/logo_full_white.png"
          style='height: 80%; object-fit: contain' />
      </span>
    </mat-toolbar>
    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
