.sidenav-container {
  height: 100%;
  background-color: #fafafa
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.disc-button {
  align-self: center;
  margin: 5% 18% 0;
}

.patient-name {
  height: 100%;
  margin: 0;
  flex: 1;
  display: flex;
  align-items: center;
}