<div class="row">
  <mat-card class="mid-width" style="height: 100%">
    <mat-card-header>
      <mat-card-title>Truc de diabétique</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row sub-info">
        <div class="col">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus a neque sed auctor. Phasellus malesuada tincidunt ex a ornare. Quisque tempor orci eget velit lobortis gravida. Phasellus sed enim nunc. Duis ac enim vestibulum, accumsan risus ac, varius nibh. Sed convallis lectus nulla, id dignissim ipsum mollis quis. Phasellus tincidunt tortor vel facilisis vestibulum. Vivamus laoreet luctus aliquet. Fusce non nisi malesuada, ullamcorper eros nec, iaculis purus. Ut egestas risus ut purus pharetra elementum. Praesent rutrum pulvinar neque, auctor viverra lectus lobortis sed.
          </span>
        </div>
      </div>
      <div class="row sub-info">
        <div class="col">
          <span>
            Etiam non tristique diam. Morbi accumsan lorem lacus, ultricies aliquam magna luctus sed. Sed mollis tincidunt augue, eu pulvinar arcu tempus a. Suspendisse id mattis nunc. Duis molestie, magna eu dapibus mollis, eros mauris blandit dui, molestie gravida eros diam convallis nibh. Integer feugiat tempus diam, ac fermentum quam interdum rutrum. Ut vitae leo elementum, molestie ante ut, elementum magna. Pellentesque sagittis porttitor velit. Duis elementum consectetur dolor, vel convallis tortor feugiat vitae. Aliquam condimentum erat non neque ullamcorper, et consequat erat tristique.
          </span>
        </div>
      </div>
      <div class="row sub-info">
        <div class="col">
          <span>
            seringues
          </span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="row sub-div mid-width">
    <div class="col">
      <mat-card class="sub-card">
        <mat-card-header>
          <mat-card-title>Une courbe</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row sub-info">
            <div class="col">
              <span>_____________________________________</span>
            </div>
          </div>
          <div class="row sub-info">
            <div class="col">
              <span>cette courbe est plate</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="sub-card">
        <mat-card-header>
          <mat-card-title>Des calculs ?</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row sub-info">
              <div class="col">
                <span>1+1 = 3</span>
              </div>
            </div>
            <div class="row sub-info">
              <div class="col">
                <span>euh attendez</span>
              </div>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
