<div class="col">
  <mat-card class="full-width col" style="height: 100%">
    <mat-card-header>
      <mat-card-title *ngIf="isMe">Mon profil</mat-card-title>
      <mat-card-title *ngIf="!isMe">Profil de {{ userInfo.first_name }} {{ userInfo.last_name | uppercase }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row sub-info">
        <div class="col">
          <span>email: {{ userInfo.email }}</span>
          <div class="edit-button">
            <a mat-raised-button color="primary" (click)="editProfile()">Edition</a>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="row sub-div full-width">
    <mat-card class="sub-card mid-width col" style="margin-right: 0.5%">
      <mat-card-header>
        <mat-card-title>L'uid de ce profil est</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row sub-info">
          <div class="col">
            <span style="word-break: break-all">{{ userInfo.uid }}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="sub-card mid-width col" style="margin-left: 0.5%">
      <mat-card-header>
        <mat-card-title>Des calculs ?</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <div class="row sub-info">
            <div class="col">
              <span>1+1 = 3</span>
            </div>
          </div>
          <div class="row sub-info">
            <div class="col">
              <span>euh attendez</span>
            </div>
          </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
