.full-width         {width: 100%; max-width: 100%;}
.three-quart-width  {width: 75%;}
.mid-width          {width: 50%;}
.quart-width        {width: 25%;}

.flex {display: flex;}

.full-width-card {
  width: 99%;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
  margin: 0
}

.no-margin {
  margin: 0;
}

.card {
  margin-bottom: 10px;
  border-radius: 7px 7px 7px 0;
}

.big-card {
  margin-left: 20px;
  margin-right: 20px;
}

.small-card-left {
  margin-left: 15px;
  margin-right: 5px;
}

.small-card-right {
  margin-right: 15px;
  margin-left: 5px;
}

span {
  margin-top: 5px;
}

#profile-picture {
  margin-bottom: 10px;
  max-width: 85px;
  max-height: 85px;
}

.modal-content {
  padding-top: 4px !important;
}

.card .card-content {
  padding: 13px;
}

.simple-small-div {
  height: 2px;
  background-color: #00000023;
  margin-bottom: 10px;
}

.simple-small-div-vert {
  width: 2px;
  background-color: #00000023;
  margin: 0 10px;
}

span, p, h4 {
  font-family: Rubik;
}

.card-title {
  font-family: Muli;
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
}

.input-title {
}

.topbar-button {
  border-radius: 25px;
  background-color: #FFA300;
  color: #fff;
  font-weight: normal;
  font-family: Roboto;
  font-size: 14px;
  text-transform: none;
  height: 32px;
}

.no-button {
  border-radius: 25px;
  background-color: #FFF;
  border-color: #424242;
  color: #424242;
  font-weight: normal;
  font-family: Roboto;
  font-size: 14px;
  text-transform: none;
  height: 32px;
}

.patient-bar {
  margin: 30px 0;
}

.tab-container {
  background-color: #FAFAFA;
}

.main-tabs {
  margin: 0 auto 15px auto;
  width: 96%;
}

.tab-div {
  margin-top: 13px;
  display: flex;
  justify-content: center;
}

.info-input {
  background-color: #FFF;
  color: #000 !important;
  border-radius: 15px 15px 15px 0;
  padding: 13px;
  height: 5px;
  width: 85%;
  box-shadow: 0px 0px 7px -4px #424242;
}

.info-textarea {
  background-color: #FFF;
  color: #000 !important;
  border-radius: 15px 15px 15px 0;
  padding: 13px;
  min-height: 5px;
  width: 85%;
  box-shadow: 0px 0px 7px -4px #424242;
}

.biometric-info {
  margin: 0;
  font-size: 12px;
  font-family: Rubik;
  color: #575757;
}

.main-info {
  font-size: 14px;
}

.info-col {
  width: 60%;
}

th {
  font-family: Muli;
  font-size: 18px;
  font-weight: bolder;
  color: #B0B0B0;
}

tr {
  font-family: Muli;
  font-size: 16px;
  color: #746060
}

.note-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 600px;
}

.note-box {
  width: 100%;
  height: 200px;
  border: solid 1px #ccc;
  font-size: 10pt;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.note-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  opacity: .6;
}

.note-box-color {
  width: 100%;
  background-color: red;
}

.note-box-text {
  height: 100%;
  padding: 0 15px 15px 15px;
  text-align: left;
  overflow: auto;
}

.cdk-drop-list {
  display: flex;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 20%;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: .3;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

button {
  margin-right: 4px;
}

.stats-container {
  display: flex;
  flex-direction: row;
  margin: 0 45px;
}

.stat-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.stat-title {
  font-size: 15px;
  font-family: Roboto;
  color: #848484;
}

.stat-number {
  font-size: 43px;
  font-family: Roboto;
  font-weight: lighter;
  line-height: 43px;
  color: #00A1E0;
}

h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.calendar-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.date-input {
  width: 100px;
  font-size: 14px;
  margin-top: 1px;
  margin-right: 5px;
  height: 19px;
  border-radius: 16px;
  border: 1px solid #f2f2f2;
  padding: 5px;
  text-align: center;
}

.date-limit-input {
  width: 100px;
  font-size: 14px;
  height: 32px;
  border-radius: 16px;
}

.calendar-top-button {
  font-size: 12px;
  margin: 0 2px;
  background-color: #00a1e0;
}