.full-width {
  max-width: 100%;
}

.mid-width {
  width: 50%;
}

.quart-width {
  width: 25%;
}

.flex {
  display: flex;
}

.no-margin {
  margin: 0;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.data-card-title {
  display: flex;
  flex: 1;
}

.column {
  padding: 10px;
  flex-direction: column;
}

.card {
  margin-bottom: 10px;
}

.biometric-line {
  display: flex;
  flex-direction: row;
}

.biometric-info {
  margin-bottom: 4px !important;
  font-size: 16px;
}

.biometric-icon {
  margin-right: 10px;
}