@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Application-wide Styles */
h1 {
	color: #00a1e0;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 250%;
}
h2, h3 {
	color: #444;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-weight: lighter;
}
body {
	margin: 2em;
}
body, input[type="text"], button {
	color: #333;
	font-family: Roboto, Cambria, Georgia;
}
/* everywhere else */
* {
	font-family: Roboto, Arial, Helvetica, sans-serif;
}
html, body {}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer-inner-container {
	display: flex;
	flex-direction: column;
}

.mat-dialog-container {
	padding: 0 !important;
}